/* Trying to use the sixth modular scale
https://www.modularscale.com/?22&px&1.667 */

/* color ref: 
https://paletton.com/#uid=50c0u0ksTr6iry8nltGuIlNBigP
https://paletton.com/#uid=50u0u0k1qvf00++0mJU3cqp63mc
https://paletton.com/#uid=5090u0kd89N00009Rfmi+8Foj6-
*/ 
html {
  font-size: 22px; /* 1em */
}

body {
  font-family: Lora, Georgia, serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #F9F3EE; /* orange peachy color */
  color: #4E342E; /* brown text */
}

h1 {
  font-size: 61.136px; /* 3.821em */
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 8px;
  color: #D84315; /* orange */
}

p {
  font-size: 22px; /* 1em */
  margin-bottom: 20px;
  color: #6D4C41; /* light brown text */
}

#wrapper {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.form-section {
  background: #FFFEFC;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-bottom: 20px;
}

label {
  font-size: 22px; /* 1em */
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input, select, textarea { /* just combine everything */
  width: 100%;
  padding: 12px;
  font-size: 22px;
  border: 2px solid #BCAAA4; /* lightish brown */
  border-radius: 5px;
  box-sizing: border-box;
  background: #FFF8E1; /* yellowish */
}

input:focus, select:focus, textarea:focus {
  border-color: #D84315;
  outline: none;
  box-shadow: 0 0 5px rgba(200, 60, 20, 0.5);
}

.form-submit {
  background: #AE2F07; /* colored background behind button */
  padding: 20px;
  border-radius: 10px;
}

input[type="submit"] {
  background-color: #FFFEFC;
  color: #D84315;
  font-weight: bold;
  border: 2px solid #D84315;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px; /* 1em */
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #ED6A40;
  color: #FFFEFC;
}

textarea {
  width: 100%;
  resize: none;
  font-size: 22px; /* 1em */
}

.char-count {
  font-size: 13.197px;
  color: #888;
  margin-top: 5px;
  text-align: left;
}

/* Media queries */
@media screen and (min-width: 768px) {
#wrapper {
  max-width: 800px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-section {
  padding: 25px;
}

.form-submit {
  grid-column: span 2;
 }
}

@media screen and (min-width: 1024px) {
#wrapper {
  max-width: 900px;
  padding: 40px;
}

h1 {
  font-size: 61.136px;
}

p {
  margin-top: 20px;
  font-size: 32px;
}

.form-section {
  padding: 30px;
 }
}
